body {
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;
}

.header {
    color: rgb(37, 37, 37);
    text-align: center;
    font-size: 70px;
}

.list {
    font-size: 25px;
    font-weight: bold;
}

#lasagna {
    color: black;
}

#chicken-enchiladas {
    color: red;
}

#berry-delicious {
    color: black;
}